/*body {

color: #D7A9A7;

}

img {
border-color: lightsalmon;
border-style: solid;
border-width: 3px;
}*/
body {
    background-image: url("tweed.jpg");
    color: #D7A9A7;
}

/*
img {
width:100px;
height:100px;
}
*/

h4 {
font-style: italic;
}

main {
margin: 4px;
}

article {
padding: 4px;
padding-bottom: 0px;
margin: 0px;
background: lightsalmon;
}

/* Add your flexbox CSS below here */

section {
display: flex;
flex-wrap: wrap;
}

.button {
  font: bold 22px Arial;
  text-decoration: none;
  background-color: #D7A9A7;
  color:#454545;
  padding: 2px 6px 2px 6px;
  margin-right:30px;
  margin-top: 7px;
  border-radius: 9px;
  border-top: 1px solid#D7A9A7;
  border-right: 2px solid #454545;
  border-bottom: 2px solid #454545;
  border-left: 1px solid #D7A9A7;
}

.button:hover {
  background-color:palevioletred;
  color: #444444;
  border-top: 1px solid #D7A9A7;
  border-right: 2px solid #2e232e;
  border-bottom: 2px solid #2e232e;
  border-left: 1px solid #D7A9A7;
}

.right {
    float:right;
    margin-right:58px;
}